@font-face {
  font-family: 'FiraSans';
  src: url('../fonts/FiraSans-Regular.ttf'), url('../fonts/FiraSans-Bold.ttf'),;
}

html {
  font-family: 'FiraSans', Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}