.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto;
  max-width: 1128px;
  padding: 0 40px;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  gap: 40px;
}

.menu a {
  padding: 5px;
  text-decoration: none;
  color: #141414;
}

@media (max-width: 650px) {
  .header {
    flex-direction: column;
    gap: 60px;
  }
  
  .menu ul {
    display: flex;
    gap: 40px;
  }
}