@font-face {
  font-family: 'FiraSans';
  src: url('../fonts/FiraSans-Regular.ttf'), url('../fonts/FiraSans-Bold.ttf'),;
}

html {
  font-family: 'FiraSans', Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

main {
  max-width: 1128px;
  margin: auto;
  padding: 0 30px
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto;
  max-width: 1128px;
  padding: 0 40px;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  gap: 40px;
}

.menu a {
  padding: 5px;
  text-decoration: none;
  color: #141414;
}

.profile {
  display: grid;
  grid-template-columns: minmax(200px, 360px) minmax(250px, 600px);
  gap: clamp(80px, 10vw, 200px);
  margin: 80px 0;
}

.profile .photo {
  max-width: clamp(200px, 100%, 360px);
}

.profile .headline {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
}

.profile .headline h1 {
  position: relative;
  max-width: 13ch;
  font-size: clamp(3rem, 6vw, 4.7rem);
  margin: 20px 0;
}

.profile .headline img {
  position: absolute;
  z-index: -1;
  top: -30px;
  left: -40px;
}

.profile .headline p {
  margin: 0;
  font-size: 1.5rem;
  color: #525252;
}

.experience {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: top;
  gap: 50px;
  margin-bottom: 65px;
}

.experience h2 {
  max-width: 4ch;
  margin: 0;
  font-size: 8rem;
  word-break: break-all;
  color: #E0E0E0;
}

.experience div {
  color: #525252
}

.experience strong {
  font-weight: 900;
  color: #141414;
}

.experience .introduction {
  max-width: 40ch;
  font-size: 1.5rem;
  margin-bottom: 60px;
}

.enterprise {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  max-width: 100%;
  margin-bottom: 30px;
  padding: 20px;
  justify-content: space-between;
  justify-items: space-between;
  background-color: #F5F5F5;
  border-radius: 10px;
  box-shadow: 0 2px 10px #B8B8B8;
}

.enterprise::before {
  content: '';
  position: absolute;
  top: 15px;
  left: -5px;
  width: 5px;
  height: 30px;
  background: linear-gradient(#B6F829, #67DD0A);
}

.enterprise .year {
  position: absolute;
  top: 15px;
  left: -85px;
  width: 60px;
  line-height: 2rem;
  text-align: right;
  color: #525252;
}

.enterprise h3 {
  color: #000000;
  margin: 0;
}

.enterprise p {
  max-width: 50ch;
  margin: 0;
}

.enterprise .skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-items: center;
}

.enterprise .skills li {
  background-color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
}

.education {
  background-color: #141414;
}

.education > div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: top;
  gap: 70px;
  max-width: 1128px;
  margin: auto;
  padding: 120px 30px
}

.education h2 {
  min-width: 5ch;
  max-width: 6ch;
  margin: 0;
  font-size: 8rem;
  font-weight: 900;
  word-break: break-all;
  color: #000000;
}

.education p {
  color: #A3A3A3;
}

.education div > p {
  font-size: 1.5rem;
  max-width: 40ch;
}

.education strong {
  color: #FFFFFF;
}

.education .course {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 30px;
  margin: 60px 0;
}

.education .course li {
  width: 204px;
  padding: 20px;
  font-size: 1.1rem;
  box-sizing: border-box;
  background-color: #000000;
  border-radius: 5px;
}

.education .course .highlight {
  position: relative;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 50px;
}

.education .course .highlight::after {
  position: absolute;
  content: '';
  width: 5px;
  height: 25px;
  top: 0;
  left: -25px;
  background-image: linear-gradient(#B6F829, #67DD0A);
}

.education article:first-of-type {
  margin-bottom: 40px;
}

.education header {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.education article h3 {
  margin: 0;
  font-size: 1.1rem;
  color: #A3A3A3;
}

.education article li {
  margin-left: 35px;
  line-height: 40px;
  font-size: 1.2rem;
  color: #ffffff;
}

.education .course-intensive li {
  display: flex;
  justify-content: space-between;
}

.education .course-intensive li span:last-child {
  color: #8F8F8F;
  margin-right: 20px;
}

.footer {
  background-color: #000000;
}

.footer > div {
  position: relative;
  max-width: 1128px;
  margin: auto;
  padding: 60px 0;
}

.footer > div img {
  position: absolute;
  top: -60px;
}

.footer section:first-of-type {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 90px 0;
}

.footer .text {
  max-width: 39ch;
  font-size: 1.7rem;
  color: #CCCCCC;
}

.footer .contact {
  align-self: center;
  justify-self: center;
  font-size: 2.2rem;
  font-weight: bold;
  color: #ffffff;
}

.footer .contact li {
  margin-bottom: 30px;
}

.footer .contact li:last-of-type {
  margin-bottom: 0;
}

.footer .copyright {
  font-size: 1.3rem;
  color: #8F8F8F;
}

@media (max-width: 1000px) {
  .profile {
    gap: 60px;
  }
}

@media (max-width: 850px) {
  .experience {
    grid-template-columns: 1fr;
    margin-bottom: 65px;
  }

  .experience h2 {
    max-width: initial;
    margin: auto;
    font-size: 6rem;
  }

  .experience .introduction {
    max-width: initial;
    font-size: 1.5rem;
    margin: auto;
    margin-bottom: 60px;
  }

  .enterprise .year {
    position: initial;
    grid-row: 3;
    text-align: left;
  } 

  .education > div {
    grid-template-columns: 1fr;
  }

  .education h2 {
    max-width: initial;
    margin: auto;
  }

  .education div > p {
    max-width: initial;
    margin: auto;
  }

  .education .course {
    justify-content: center;
  }  
}

@media (max-width: 750px) {
  .profile {
    grid-template-columns: 1fr 1fr;
  }

  .profile .headline img {
    display: none;
  }

  .profile .headline h1::before {
    position: absolute;
    content: '';
    width: 35px;
    height: 10px;
    top: -10px;
    left: 5px;
    background-color: #67DD0A;
    background: url('../images/detalhe.svg') no-repeat center;
  }

  
  .footer section:first-of-type {
    grid-template-columns: 1fr;
    gap: 70px
  }

  .footer .text {
    font-size: 1.4rem;
    margin: 0 20px;
  }

  .footer .contact {
    font-size: 1.5rem;
  }

  .footer .copyright {
    margin: 0 20px;
  }
}

@media (max-width: 650px) {
  .header {
    flex-direction: column;
    gap: 60px;
  }
  
  .menu ul {
    display: flex;
    gap: 40px;
  }

  .profile {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .profile .photo {
    max-width: 200px;
  }

  .experience h2,.education h2 {
    font-size: clamp(3rem, 10vw, 4.7rem);
  }
}

@media (max-width: 550px) { 
  .enterprise {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .enterprise .year {
    grid-row: 5;
  } 
}

@media (max-width: 350px) {
  .profile .headline h1 {
    font-size: 2.5rem
  }  
}